spring:
  application:
    name: apexRecon
  datasource:
    url: ${APEXRECON_URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
  jpa:
    show-sql: true
    properties:
      hibernate:
        format-sql: true
  server:
    error:
      include-stacktrace: never
  logging:
    level:
      org:
        springframework:
          security: DEBUG
  app:
    security:
      token:
        secret: ${TOKEN_PASSWORD}